<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="STHttpPath" value="gweb.wra.gov.tw/hyis/AdvQuery/flex/getLeGraph.aspx"/>
      <add key="BasinHttpPath" value="gic.wra.gov.tw/gic/Water/WrHydroFx/qry_Ele.aspx?AreaType=2"/>
      <add key="StationListHttpPath" value="gic.wra.gov.tw/gic/Water/WrHydroFx/qry_Ele_Stno.aspx?AreaType=2"/>
      
      <add key="GWSTHttpPath" value="gweb.wra.gov.tw/hyis/AdvQuery/flex/getGwGraph.aspx"/>
      <add key="GWCountyHttpPath" value="gic.wra.gov.tw/gic/Water/WrHydroFx/qry_Gw.aspx?AreaType=1"/>
      <add key="GWStationListHttpPath" value="gic.wra.gov.tw/gic/Water/WrHydroFx/qry_Gw_Stno.aspx?AreaType=1"/>
    </appSettings>
</configuration>
  